@model IEnumerable<U2Ejericio4.Models.ViewModels.IndexViewModel>
@{
	Layout = "Layout";
}
<h1>Oferta Académica</h1>


<ol class="rectangle-list">
	@foreach(var c in Model)
	{
		
	<li>
		<a href="~/@c.Nombre.Replace(" ","-")/Informacion">
			@c.Plan @c.Nombre </a>
		</li>
	}
	
</ol>

